/* 
	Taupe: #757070;
	Violet: #806F80;
	Indigo: #696A97;
	Marigold: #F7EACA;
	Eggshell: #F7F6F6;
*/

body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Poiret One', cursive;
}

h1 {
	font-family: 'Cedarville Cursive', cursive;
}
