/* 
	Taupe: #757070;
	Violet: #806F80;
	Indigo: #696A97;
	Marigold: #F7EACA;
	Eggshell: #F7F6F6;
*/

body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Poiret One', cursive;
	color: #757070;
}

h1 {
	font-family: 'Cedarville Cursive', cursive;
}

h2 {
	font-family: 'Cedarville Cursive', cursive;
}

h3 {
	font-family: 'Poiret One', cursive;
}

a {
	font-family: 'Cedarville Cursive', cursive;
	color: #696A97;
}

#menu li {
	display: inline-block;
	margin: 10px;
	color: #000;
	background: #fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
  border-radius: 10px;
}

#menu li.active{
	background: #666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}

#menu li a {
	text-decoration: none;
	color: #000;
}

#menu li.active a:hover {
	color: #000;
}

#menu li:hover {
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a {
	display: block;
	padding: 9px 18px;
}

#menu li.active a {
	color: #fff;
}

#menu {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
	z-index: 70;
}

.section {
	text-align: center;
}

.bar--small {
	width: 100%;
	height: 25px;
	background-color: #806F80;
}

.bar--medium {
	width: 100%;
	height: 50px;
	background-color: #806F80;
}

